{{ form_start(form) }}

<div class="container">
    <div class="row">
        <div class="col-4 d-flex justify-content-start align-items-center">
            <img src="{{asset('images/unam.png') }}" alt="UNAM escudo" class="rounded float-start">
        </div>
        <div class="col-4 d-flex justify-content-start align-items-center">
            <h3>Solicitud de recursos</h3>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <img src="{{asset('images/ccm.png') }}" alt="CCM logo" class="rounded">
        </div>
    </div>

    <div class="mt-2">
        <hr>
        <p class="lead">Una vez capturada la información es necesario imprimir el formato y entregarlo a la Secretaría Académica.</p>

    </div>

    <div class="row">
        {# <div class="col-3">
            <div class="form-floating">
                {{ form_widget(form.tipo, {'attr': {'class': 'form-control','placeholder':'Tipo de la solicitud'}}) }}
                {{ form_label(form.tipo,'Tipo de la solicitud') }}
            </div>
        </div>#}
        {# <div class="col-3">
            <div class="form-floating">
                {{ form_widget(form.fecha, {'attr': {'class': 'form-control','placeholder':'Fecha de la solicitud'}}) }}
                {{ form_label(form.fecha,'Fecha de la solicitud') }}
            </div>
        </div>#}
        <div class="col-3">
            <div class="form-floating">
                {{ form_widget(form.fuente, {'attr': {'class': 'form-control','placeholder':'Fuente de financiamiento'}}) }}
                {{ form_label(form.fuente,'Fuente de financiamiento ') }}
            </div>
            <div class="invalid-error invalid-feedback">
                {{ form_errors(form.fuente) }}
            </div>
        </div>



        <div class="col-9">
            <div class="form-floating">
                {{ form_widget(form.responsable, {'attr': {'class': 'form-control','placeholder':'Nombre de la persona responsable del proyectosolicitante'}}) }}
                {{ form_label(form.responsable,'Persona responsable del proyecto') }}
            </div>

            <div class="invalid-error invalid-feedback">
                {{ form_errors(form.responsable) }}
            </div>

        </div>

        {# <div class="col-3">
            <div class="form-floating" id="proyecto">
                {{ form_widget(form.proyecto, {'attr': {'class': 'form-control','placeholder':'Número de proyecto'}}) }}
                {{ form_label(form.proyecto,'Número de proyecto ') }}
            </div>
            <div class="invalid-error">
                {{ form_errors(form.proyecto) }}
            </div>

        </div>
        <div class="col-3">
            <div class="form-floating">
                {{ form_widget(form.acta, {'attr': {'class': 'form-control','placeholder':'Acta de Consejo Interno'}}) }}
                {{ form_label(form.acta,'Acta de Consejo Interno') }}
            </div>
        </div>#}
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="form-floating">
                {{ form_widget(form.solicitante, {'attr': {'class': 'form-control','placeholder':'Nombre del solicitante'}}) }}
                {{ form_label(form.solicitante,'Persona solicitante') }}
            </div>

            <div class="invalid-error invalid-feedback">
                {{ form_errors(form.solicitante) }}
            </div>

        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">

            <div class="form-floating">
                {{ form_widget(form.tutor, {'attr': {'class': 'form-control','placeholder':'Nombre del solicitante'}}) }}
                {{ form_label(form.tutor,'Tutor(a) o Asesor(a)') }}
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="alert alert-primary" role="alert">
            Las fechas de inicio y fin deben seleccionarse incluyendo los días de traslado necesarios para llevar a cabo la actividad.
        </div>
    </div>
    <div class="row mt-2">


        <p class="small text-primary" id="dias"></p>

        <div class="col-3" id="fecha_inicio">
            <div class="form-floating">
                {{ form_widget(form.inicio, {'attr': {'class': 'form-control','placeholder':'Fecha inicial'}}) }}

                {{ form_label(form.inicio,'Fecha inicio') }}
            </div>
            {{ form_errors(form.inicio) }}



        </div>

        <div class="col-3" id="fecha_fin">
            <div class="form-floating">
                {{ form_widget(form.fin, {'attr': {'class': 'form-control','placeholder':'Fecha final'}}) }}
                {{ form_label(form.fin,'Fecha fin') }}
            </div>


        </div>


        <div class="col-6" id="motivo">
            <label for="motivo" class="form-label">{{ form_label(form.motivo) }}</label>
            <div>
                {% for child in form.motivo %}
                    <div class="form-check form-check-inline">
                        {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                    </div>
                {% endfor %}
            </div>
            {{ form_errors(form.motivo) }}

        </div>

        <div class="col-12">
            <div id="daterange-error-msg" class="small"></div>
            <p class="small text-primary" id="participacion"></p>

        </div>

        {# <div class="col-6" id="daterange-container" >
            <div class="form-floating">
                <input placeholder="Fecha de inicio y fin de la solicitud" class="form-control" type="text" name="daterange"  />
                <label for="floatingInputValue">Fecha de inicio y fin de la solicitud</label>
            </div>
            <div class="col-12">
                &nbsp;<p class="small text-primary" id="dias"></p>
            </div>
            <div class="invalid-error ">

                <div id="daterange-error-msg"></div>

            </div>


            <div id="daterange-error-msg"></div>


        </div>
        #}


    </div>

    <div class="row mt-2">
        <p class="small text-primary" id="participacion"></p>

        <div class="col-6">
            <div class="form-floating">
                {{ form_widget(form.tipoActividad, {'attr': {'class': 'form-control','placeholder':'Tipo de actividad'}}) }}
                {{ form_label(form.tipoActividad,'Tipo de actividad') }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                {{ form_widget(form.tituloActividad, {'attr': {'class': 'form-control','placeholder':'Título de la actividad'}}) }}
                {{ form_label(form.tituloActividad,'Título de la actividad') }}
            </div>
        </div>

        {#  <div class="col-6 mt-2">
            <div class="form-floating">
                {{ form_widget(form.actividad, {'attr': {'class': 'form-control','placeholder':'Motivo de la licencia o comisión'}}) }}
                {{ form_label(form.actividad,'Motivo de la licencia o comisión') }}
            </div>
        </div>#}
    </div>




    <div class="row mt-2">

        <div class="col-6">
            <div class="form-floating">
                {{ form_widget(form.institucion, {'attr': {'class': 'form-control','placeholder':'Institución en la que se realizará la actividad'}}) }}
                {{ form_label(form.institucion,'Institución en la que se realizará la actividad') }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating">
                {{ form_widget(form.lugar, {'attr': {'class': 'form-control','placeholder':'Ciudad y país donde se realizará la actividad'}}) }}
                {{ form_label(form.lugar,'Ciudad y país donde se realizará la actividad') }}
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <p class="lead">Capturar el importe solicitado por cada rubro a cubrir.</p>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                {{ form_widget(form.tcProyecto, {'attr': {'class': 'form-control','placeholder':'Importe','name':'add'}}) }}
                <span class="input-group-text importe">Trabajo de campo (Proyecto)</span>
            </div>
            <div class="invalid-error">
                {{ form_errors(form.tcProyecto) }}
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                {{ form_widget(form.tcCCM, {'attr': {'class': 'form-control','placeholder':'Importe'}}) }}
                <span class="input-group-text importe">Trabajo de campo (CCM)</span>
            </div>
            <div class="invalid-error">
                {{ form_errors(form.tcCCM) }}
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                {{ form_widget(form.taProyecto, {'attr': {'class': 'form-control','placeholder':'Importe','value': solicitud.taProyecto }}) }}
                <span class="input-group-text importe">Transporte aéreo (Proyecto) {{ solicitud.taProyecto }}</span>
            </div>
            <div class="invalid-error">
                {{ form_errors(form.taProyecto) }}
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                {{ form_widget(form.taCCM, {'attr': {'class': 'form-control','placeholder':'Importe'}}) }}
                <span class="input-group-text importe">Transporte aéreo (CCM)</span>
            </div>
            <div class="invalid-error">
                {{ form_errors(form.taCCM) }}
            </div>
        </div>

    </div>
    <hr>
    <div class="row ">


        <div class="col-6">
            <div class="input-group mt-5">
                <span class="input-group-text">$</span>
                {{ form_widget(form.importe, {'attr': {'class': 'form-control','placeholder':'Importe total solicitado', 'readonly': 'true'}}) }}
                <span class="input-group-text importe">Total</span>
            </div>
            <div class="invalid-error">
                {{ form_errors(form.importe) }}
            </div>
        </div>
    </div>

    <div class="alert alert-light small mt-3 " role="alert">
        El solicitante deberá realizar los trámites de su seguro de prácticas de campo por lo menos diez hábiles antes su práctica. El formato está disponible en la página www.patrimonio.unam.mx
        Los costos vigentes serán por día a nivel nacional de $1.56 y a nivel internacional de $0.52 por día. Favor de pasar a la Dirección del CCM para mejor orientación.
    </div>

    {{ form_widget(form) }}
    <div class="d-grid gap-2 pt-3 mb-2 col-3 mx-auto" id="envio">
        <button class="btn btn-dark" ><i class="fa-regular fa-eye"></i> {{ button_label|default('Vista previa') }}</button>
    </div>

    {{ form_end(form) }}
