<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        /* Fix wkhtmltopdf compatibility with BS flex features */
        html {
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        hr{
            margin: 0;
            padding: 0;
            border-color: red;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
        .row {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
        .row > div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
        }
        .row > div:last-child {
            margin-right: 0;
        }
        /* Fix wkhtmltopdf compatibility with BS tables borders */
        /* Requires cellspacing="0" on table to prevent spacing */
        table {
            border-collapse: separate !important;
        }
        th, td {
            border-top: none;
            border-left: none;
            border-right: none;
        }
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            margin-top: 40px;
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
        }
        .align-items-center {
            align-items: center!important;
        }
        .justify-content-start {
            justify-content: flex-start!important;
        }
        .d-flex {
            display: flex!important;
        }
        .col-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
        }

        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            margin-top: 40px;
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
        }

        .h2, h2 {
            font-size: 1.7rem;
        }

        .justify-content-between {
            justify-content: space-between!important;
        }
    </style>
    <!-- Custom CSS -->
    <title>Recibo de recursos</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-4 d-flex justify-content-start align-items-center">
            <img src="{{absolute_url(asset('images/unam.png')) }}" alt="UNAM escudo" class="rounded float-start">
        </div>
        <div class="col-4 d-flex justify-content-start align-items-center ">
            <br>
            <h2>Recibo</h2>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <br>
            <img src="{{absolute_url(asset('images/ccm.png')) }}" alt="CCM logo" class="rounded">
        </div>
    </div>
    <div class="mt-2">
        <div class="border-bottom mb-2"></div>
        <div class="card border-0">
            <div class="card-body">
                <p class="card-text" style="overflow: hidden; margin-top: 4rem">
                          <span style="float: right; font-size: 1.2rem;">
                            <strong>BUENO POR $ </strong>
                            <span style="display: inline-block; border-bottom: 1px solid gray; min-width: 100px;">
                               {{ solicitud.importe|number_format(2)}}
                            </span>
                          </span>
                </p>
                <p class="card-text" style="margin-top: 5rem;text-align: justify;line-height: 3;" >
                    R E C I B Í de la Tesorería de la Universidad Nacional Autónoma de México, por conducto de la Unidad Administrativa
                    del Centro de Ciencias Matemáticas, la cantidad de  <strong>  ${{ solicitud.importe|number_format(2) }}
                        ({{ textoImporte|capitalize }}/100 M.N.)</strong> por concepto de viaje a  <strong> {{ solicitud.lugar }}</strong>, que se llevará a cabo
                    <strong>del {{ solicitud.inicio|format_datetime('long', 'none', locale='es') }}
                        al {{ solicitud.fin|format_datetime('long', 'none', locale='es') }}</strong>.
                </p>
                <div style="text-align: center;margin-top:2rem;margin-bottom: 6rem;">
                    <p class="card-text" style="margin-top:3rem; margin-bottom: 6rem; text-align: center; line-height: 2; display: inline-block;">
                        Atentamente<br>
                        “POR MI RAZA HABLARÁ EL ESPÍRITU” <br>Morelia, Mich.,
                        <strong>{{ "now"|format_datetime('long', 'none', locale='es') }}</strong>
                    </p>
                    <div class="row mt-3">
                        <div class="col-4 text-center">
                            &nbsp;
                        </div>
                        <div class="col-4 text-center">
                            {{ solicitud.solicitante }}
                            <div class="border-bottom mb-1"></div>
                            <p class="text-muted small">Persona solicitante (Nombre y firma)</p>
                        </div>
                        <div class="col-4 text-center">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4 text-center">
                {{ solicitud.tutor }}
                <div class="border-bottom mb-1"></div>
                <p class="text-muted small">Asesor(a) (Nombre y firma)</p>
            </div>
            <div class="col-4 text-center">
                <br>
                <div class="border-bottom mb-1"></div>
                <p class="text-muted small">Vo.Bo. Director Dr. Luis Abel Castorena Martínez</p>
            </div>

        </div>
    </div>
</div>
</body>
</html>