{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex justify-content-start align-items-center">
                <img src="{{absolute_url(asset('images/unam.png')) }}" alt="UNAM escudo" class="rounded float-start">
            </div>
            <div class="col-4 d-flex justify-content-start align-items-center ">
                <br>
                <h3>Solicitud de Recursos</h3>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <br>
                <img src="{{absolute_url(asset('images/ccm.png')) }}" alt="CCM logo" class="rounded">
            </div>
        </div>
        <div class="mt-2">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-1 border-bottom"></div>
            <div class="col-12 d-flex justify-content-end align-items-center mt-2">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-dark me-2" id="showButton" href="{{ path('app_solicitud_index') }}" role="button">
                        <i class="fas fa-list-ul"></i> Ver todas
                    </a>

                    {# <a class="btn btn-dark me-2" id="editButton" href="{{ path('app_solicitud_edit', {'slug': solicitud.slug}) }}" role="button">
                        <i class="fas fa-edit"></i> Modificar
                    </a>#}

                    <div {{ stimulus_controller('modal-form', {
                        formUrl: path('app_solicitud_validacion',{'slug':solicitud.slug})
                    }) }}>
                        <button class="btn btn-success me-2" data-action="modal-form#openModal">
                            <i class="fas fa-check"></i> Validar
                        </button>
                        {{ include('solicitud/_modal.html.twig', {
                            modalTitle: 'Validar solicitud',
                        }) }}
                    </div>

                    <form method="post" action="{{ path('app_solicitud_delete', {'id': solicitud.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminar esta solicitud?');" class="d-inline">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ solicitud.id) }}">
                        <button class="btn btn-danger me-2">
                            <i class="fas fa-trash-alt"></i> Eliminar
                        </button>
                    </form>
                {% endif %}

                {% if solicitud.validada == '1' or is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-dark me-2" id="editButton" href="{{ path('app_solicitud_edit', {'slug': solicitud.slug}) }}" role="button">
                        <i class="fas fa-edit"></i> Modificar
                    </a>
                    <a class="btn btn-dark ms-2" id="printPageButton" href="{{ path('app_solicitud_pdf', {'id': solicitud.id}) }}" role="button">
                        <i class="fas fa-file-pdf"></i> Generar PDF
                    </a>
                {% endif %}
            </div>
            <div class="card border-0">



                <div class="card-body">
                    <div class="alert alert-primary" role="alert">

                        {% if solicitud.validada == "" %}
                            La información de la solicitud no ha sido validada
                            <br>
                        {% else  %}
                            {{ solicitud.observaciones|nl2br ?: 'Sin observaciones' }}
                        {% endif %}
                        </p>
                    </div>



                    <h5 class="card-title">Solicitud de recursos - {{solicitud.fuente }} </h5>

                    <h5 class="card-subtitle mt-4 mb-2 text-muted">{{solicitud.solicitante }}, <em><small>{{ solicitud.mail}}</small></em> </h5>

                    <p class="card-text">
                        {#  {% if solicitud.fuente != "CCM" and solicitud.fuente != "Ingresos extraordinarios"%}
                            <strong>Número de proyecto:</strong> <br>
                        {%endif %}#}
                        <strong>Tutor(a) o Asesor(a) del solicitante:</strong> {{ solicitud.tutor }}<br>
                        {% if solicitud.fuente not in ['CCM', 'Ingresos extraordinarios'] %}
                            <strong>Persona responsable del proyecto:</strong> {{ solicitud.responsable }}<br>
                        {% endif %}
                        {#    <strong>Acta del Consejo Interno:</strong> {{ solicitud.acta }}#}
                    </p>
                    <p class="card-text">
                        <strong>Motivo de la solicitud:</strong> {{ solicitud.motivo|join(', ') }}
                    </p>
                    <p class="card-text">
                        {% if 'Participación' in solicitud.motivo %}
                            <strong> {{ solicitud.tipoActividad }}:</strong> {{ solicitud.tituloActividad }}
                        {% endif %}
                    </p>
                    <p class="card-text">
                        <strong>Periodo de la solicitud</strong>
                    </p>

                    {% set difference = date(solicitud.fin|date('Y/m/d')).diff(date(solicitud.inicio|date('Y/m/d'))) %}
                    {% set leftDays = difference.days %}

                    <h6 class="card-subtitle mb-2 text-muted">
                        De <em>{{ solicitud.inicio|format_datetime('long', 'none', locale='es') }}</em>
                        a <em>{{ solicitud.fin|format_datetime('long', 'none', locale='es') }}</em>
                        <small>
                            (duración de {{ difference.days + 1 }}
                            {{ difference.days < 1 ? 'día' : 'días' }})
                        </small>
                    </h6>

                    <p class="card-text">
                        <strong>Lugar:</strong> {{ solicitud.lugar }}<br>
                    </p>
                    <p class="card-text">
                        <strong>Institución:</strong> {{ solicitud.institucion }}<br>
                    </p>
                    <p class="card-text">
                        <strong>Anfitrión:</strong> {{ solicitud.anfitrion }}<br>
                    </p>
                    <div class="row justify-content-center">
                        <p class="card-text">
                            <strong>Recursos solicitados</strong>
                        </p>
                        <table class="table table-border w-50 align-items-center" cellspacing="0" >
                            <tbody>

                            {% if solicitud.tcCCM != 0 %}
                                <tr>
                                    <th scope="row">Prácticas escolares (CCM)</th>
                                    <td class="text-right">${{ solicitud.tcCCM|number_format(2)}}</td>
                                </tr>
                            {% endif %}
                            {% if solicitud.tcProyecto != 0 %}
                            <tr>
                                <th scope="col">Prácticas escolares (Proyecto)</th>
                                <td class="text-right">${{ solicitud.tcProyecto|number_format(2)}}</td>
                            </tr>
                            {% endif %}
                            {% if solicitud.tcIngresos != 0 %}
                            <tr>
                                <th scope="row">Prácticas escolares (Ingresos Ext.)</th>
                                <td class="text-right">${{ solicitud.tcIngresos|number_format(2)}}</td>
                            </tr>
                            {% endif %}
                            {% if solicitud.taCCM != 0 %}
                            <tr>
                                <th scope="row">Transporte aéreo (CCM)</th>
                                <td class="text-right">${{ solicitud.taCCM|number_format(2)}}</td>
                            </tr>
                            {% endif %}
                            {% if solicitud.taProyecto != 0 %}
                            <tr>
                                <th scope="row">Transporte aéreo (Proyecto)</th>
                                <td class="text-right">${{ solicitud.taProyecto|number_format(2)}}</td>
                            </tr>
                            {% endif %}
                            {% if solicitud.taIngresos != 0 %}
                            <tr>
                                <th scope="row">Transporte aéreo (Ingresos Ext.)</th>
                                <td class="text-right">${{ solicitud.taIngresos|number_format(2)}}</td>
                            </tr>
                            {% endif %}

                            <tr class="bg-light">
                                <th scope="row">Total (MXP)</th>
                                <td class="text-right ">${{ solicitud.importe|number_format(2)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-light small mt-3 " role="alert">
            <p class="justify-content-between">
            <ul>
                <li>El solicitante deberá realizar los trámites de su seguro de Prácticas Escolares por lo menos diez días hábiles antes de su práctica.</li>
                <li>El formato está disponible en la página <a href="http://www.patrimonio.unam.mx" target="_blank">www.patrimonio.unam.mx</a>.</li>
                <li>Los costos vigentes serán por día:
                    <ul>
                        <li>Nivel nacional: $1.56</li>
                        <li>Nivel internacional: $0.52</li>
                    </ul>
                </li>
                <li>Favor de pasar a la Dirección del CCM para mejor orientación.</li>
            </ul>
            </p>
        </div>
        <br>
        <br>
        <div class="row pt-5">
            <div class="col-4">
                {{ solicitud.solicitante }}
                <div class="text-center">
                    <div class="border-bottom pb-2 mb-1" style="height: 2px;"></div>
                    <p class="text-muted small">Persona solicitante (Nombre y firma)</p>
                </div>
            </div>
            <div class="col-4">
                {{ solicitud.tutor }}
                <div class="text-center">
                    <div class="border-bottom pb-2 mb-1" style="height: 2px;"></div>
                    <p class="text-muted small">Tutor(a) o Asesor(a) (Nombre y firma)</p>
                </div>
            </div>
            <div class="col-4">
                <br>
                <div class="text-center">
                    <div class="border-bottom pb-2 mb-1" style="height: 2px;"></div>
                    <p class="text-muted small">Director/Secretario Académico (Nombre y firma)</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}